<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	   				http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
					http://www.springframework.org/schema/context
					http://www.springframework.org/schema/context/spring-context-3.1.xsd"
	xmlns:p="http://www.springframework.org/schema/p">
	
	<!-- ======= data source 1 start======== -->
	<bean name="SqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory" />
	</bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation" value="classpath:myBatisConfig.xml" />
        <property name="mapperLocations">
            <list>
                <value>classpath:mybatis/*.xml</value>
                <value>classpath:mybatis/mappers/*.xml</value>
                <value>classpath:sql/web/*.xml</value>
            </list>
        </property>
    </bean>

	<!-- Datasource -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://127.0.0.1:3306/test?characterEncoding=utf-8" />
		<property name="username" value="root" />
		<property name="password" value="" />
		<property name="validationQuery" value="select 1" />
		<property name="initialSize" value="1" />
		<property name="maxIdle" value="1" />
		<property name="minIdle" value="1" />
		<property name="maxActive" value="1" />
		<property name="removeAbandoned" value="true" />
		<property name="removeAbandonedTimeout" value="60" />
		<property name="maxWait" value="30000" />
		<property name="defaultAutoCommit" value="false" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean name="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionTemplateBeanName" value="SqlSessionTemplate"></property>
		<property name="basePackage" value="com.jumei.promotion.dao" />
	</bean>
	<!-- =========data source 1 end============ -->

</beans>